.box {
  width: 1200px;
  margin: 20px auto;
  padding: 10px 20px 20px;
  border: solid 1px #eaeefb;
  border-radius: 4px;
  box-sizing: border-box;
  &-header {
    position: relative;
    margin-bottom: 10px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
    .el-button {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.project-box {
  .add-row {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #dfe6ec;
    border-top: none;
    cursor: pointer;
    &:hover {
      background: #eef1f6;
    }
    i {
      font-size: 18px;
      vertical-align: middle;
      color: #20a0ff;
    }
  }
  .el-table__empty-block {
    display: none;
  }

  .el-collapse-item__header {
    position: relative;
    .el-input {
      display: inline-block;
      width: 250px;
    }
    .el-button {
      position: absolute;
      right: 20px;
      top: 10px;
    }
  }

  .el-input__inner {
    border-color: transparent;
    &:hover {
      border-color: #bfcbd9;
    }
    &:focus {
      border-color: #20a0ff;
    }
  }
  .el-table--enable-row-hover tr:hover {
    .el-input__inner {
      border-color: #bfcbd9;
      &:focus {
        border-color: #20a0ff;
      }
    }
  }
}
