.box {
  width: 1200px;
  margin: 20px auto;
  padding: 10px 20px 20px;
  border: solid 1px #eaeefb;
  border-radius: 4px;
  box-sizing: border-box;
  &-header {
    position: relative;
    margin-bottom: 10px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
    .el-button {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.devtools-url {
  width: 600px;
}
