.settings-item {
  display: flex;
  align-items: center;
  gap: var(--size-5);
  font-size: var(--typescale-body3-size);
  line-height: var(--typescale-body3-line-height);
  color: var(--sys-color-on-surface);
  cursor: pointer;
}
