*,
:after,
:before {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

iframe,blockquote, body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, td, textarea, th, ul {
  margin: 0;
  padding: 0
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

fieldset, img {
  border: 0
}

li {
  list-style: none
}

caption, th {
  text-align: left
}

input:password {
  ime-mode: disabled
}

:focus {
  outline: none
}

a, img {
  -webkit-touch-callout: none
}

body, button, input, select, textarea {
  font-size: var(--typescale-body4-size);
  line-height: var(--typescale-body4-line-height);
  color: var(--sys-color-on-surface);
  font-family: var(--default-font-family)
}

input {
  line-height: normal
}

a {
  color: var(--sys-color-primary);
  text-decoration: none
}
