{
  "extends": [
    "eslint-config-egg",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "rules": {
    "valid-jsdoc": "off",
    "eol-last": "off",
    "strict": "off",
    "no-alert": "off",
    "no-irregular-whitespace": [
      "error",
      {
        "skipComments": true
      }
    ]
  },
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
  },
  "plugins": [
  ],
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "version": "16.6"
    }
  }
}
